.containerMenu {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 5px;
  height: 38px;
  background-color: #fff;
}

.containerMenu h1{
  font-size: 32px;
  font-weight: bold;
  color: #8F4219;
}

.logoMenu {
  font-size: 32px;
  font-weight: bold;
}

.contenteLeft {
  display: flex;
  gap: 20px;
  align-items: center;
  justify-content: center;
}

.contenteLeft ul {
  display: flex;
  gap: 20px;
  font-size: 18px;
  align-items: center;
  justify-content: center;
}

.contentRight {
  display: flex;
  gap: 20px;
  align-items: center;
  justify-content: center;
}